[Interface]
Address = {{ vpn_network_address }}
SaveConfig = true
ListenPort = {{ vpn_server_port }}
PrivateKey = {{ vpn_private_key_content }}
PostUp     = firewall-cmd --zone=public --add-port {{ vpn_server_port }}/udp && firewall-cmd --zone=public --add-masquerade
PostDown   = firewall-cmd --zone=public --remove-port {{ vpn_server_port }}/udp && firewall-cmd --zone=public --remove-masquerade

