[Interface]
PrivateKey = {{ vpn_client_private_key }}
Address = {{ vpn_client_address }}


[Peer]
PublicKey = {{ vpn_server_public_key }}
Endpoint = {{ vpn_server_wan_address }}:{{ vpn_server_port }}
AllowedIPs = 0.0.0.0/0

